logs
target
.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID
generated.keystore
generated.truststore

# Scala-IDE specific
.scala_dependencies
.cache-main
.cache-tests

.sbtserver
activator-launch-1.3.2.jar