@import models.Field

@(fields: List[Field])

@wrap(html: Html) = {
    <div class="form-group row">
        <div class="col-md-6">
            @html
        </div>
    </div>
}

@isRequire(field: Field) = {
    @if(field.required) {
        *
    }
}

@renderInputLine(field: Field) = {
    @wrap{
        <label for="aLabel">@field.aLabel @isRequire(field)</label>
        <input type="text" name="field_@field.id" class="form-control" />
    }
}

@renderCheckBox(field: Field) = {
    @wrap{
        <div class="checkbox">
            <label>
                <input type="checkbox" name="field_@field.id"> @field.aLabel @isRequire(field)
            </label>
        </div>
    }
}

@renderRadioButton(field: Field) = {
    @wrap{
        <label class="radio control-label">@field.aLabel @isRequire(field)</label>
        @field.options.map { o =>
            <div class="radio">
                <label>
                    <input type="radio" name="field_@field.id" id="" value="@o" checked>
                    @o
                </label>
            </div>
        }
    }
}

@renderTextarea(field: Field) = {
    @wrap{
        <label>@field.aLabel @isRequire(field)</label>
        <textarea class="form-control" rows="3" name="field_@field.id"></textarea>
    }
}

@renderCombobox(field: Field) = {
    @wrap{
        <label>@field.aLabel @isRequire(field)</label>
        <select class="form-control" name="field_@field.id">
            <option value="">Select a value</option>
        @field.options.map { o =>
            <option>@o</option>
        }
        </select>
    }
}

@renderDatePicker(field: Field) = {
    @wrap{
        <label>@field.aLabel @isRequire(field)</label>
        <div class="input-group date">
            <input type="text" class="form-control" name="field_@field.id">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-th"></i>
            </span>
        </div>
    }
}

@container("Hello") {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <div id="indexContent" class="col-md-offset-3">

        <h1>Fill the form, please</h1>

        <div class="row">
            <div class="alert alert-danger errorNotification col-md-6" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="errorMessage">Incorrect data</span>
            </div>
        </div>

        <form id="fieldForm">
            @fields.map { f =>
                @if(f.fieldType.equals(FieldType.LINE)) {
                    @renderInputLine(f)
                }
                @if(f.fieldType.equals(FieldType.CHECK_BOX)) {
                    @renderCheckBox(f)
                }
                @if(f.fieldType.equals(FieldType.RADIO_BUTTON)) {
                    @renderRadioButton(f)
                }
                @if(f.fieldType.equals(FieldType.TEXTAREA)) {
                    @renderTextarea(f)
                }
                @if(f.fieldType.equals(FieldType.COMBO_BOX)) {
                    @renderCombobox(f)
                }
                @if(f.fieldType.equals(FieldType.DATE)) {
                    @renderDatePicker(f)
                }
            }

            <button id="saveButton" type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

}